// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bodyTextArea .note {
	width: 420px;
	color: #777;
	font-size: 10px;
	text-align: right;
}